<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViperExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3347C1C31CC30EBB00164BE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3347C1D71CC30EBB00164BE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3347C1E21CC30EBB00164BE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
